::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #202020;
  height: 50px;
}

.nav-col {
  height: 100vh;
  width: 264px;
  position: fixed;
}

.chat-col {
  margin-left: 270px;
}

.nav {
  height: 100%;
}

.btn-primary {
  width: 80%;
}

h3 {
  margin-top: 0;
}

.chats a {
  color: black;
}

.chats {
  float: left;
  height: 460px;
  width: 880px;
  padding: 4px 16px 16px 16px;
  border: 1px solid purple;
  border-radius: 3px;
  margin: 8px;
  overflow-y: hidden;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.chats:hover {
  overflow-y: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-dark-mode {
  color: #202020;
  margin-right: 15px;
}
