::-webkit-scrollbar {
    width: 6px;         // for customizing the scrollbar
}

::-webkit-scrollbar-thumb {        // customizing scrollbar thumb ie head
    border-radius: 30px;
    background: #202020;
    height: 50px;
}

h3 {
    margin-top: 0;
}

.chats {
    float: left;                             // css for the chats data
    height: 300px;
    width: 500px;
    padding: 4px 16px 16px 16px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin: 8px;
    overflow-y: hidden;
}

.chats:hover {
    overflow-y: auto;          // chats on hover effect 
}
