body {
    font-family: "Roboto Light", sans-serif;
}

h3 {
    margin-top: 0;
}

.chats {
    float: left;
    height: 250px;
    width: 300px;
    overflow-y: auto;
    padding: 4px 16px 16px 16px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin: 8px;
}